//Colors
$clrRank: #cd7f32;

// Modern Tactical1
$slate-gray: #708090;
$charcoal: #36454f;
$electric-blue: #7df9ff;
$silver: #c0c0c0;



// Desert Operations
$desert-sand: #edc9af;
$khaki: #f0e68c;
$coyote-brown: #81613e;
$dusty-rose: #c9a798;

// Modern Tactical2
$dark-slate-grey: #2F4F4F;
$steel-grey: #43464B;
$cobalt-blue: #0047AB;
$silver: #C0C0C0;
$electric-red: #FF0033;

// Desert Camouflage
$desert-sand: #EDC9Af;
$dark-earth: #A2653E;
$sage-green: #B2AB8C;
$light-stone: #F0EAD6;
$ivory: #FFFFF0;

// Urban Warfare
$concrete-grey: #4D5357;
$asphalt: #130A0E;
$brick-red: #CB4154;
$steel-blue: #4682B4;
$neon-green: #39FF14;

// Naval Inspiration
$navy-blue: #000080;
$battleship-grey: #848482;
$aquamarine: #7FFFD4;
$sky-blue: #87CEEB;
$gold: #FFD700;

// Digital Camouflage
$digital-grey: #869D96;
$charcoal: #36454F;
$cyber-yellow: #FFD300;
$electric-blue: #7DF9FF;